/* Center the section */
.doctor-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  margin: 120px auto;
  width: fit-content;
}

/* IMAGE – hidden initially */
.doctor-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  display: flex;
  align-items: left;
  justify-content: left;

  opacity: 0;
  transform: translateY(30px);
}

/* TEXT – hidden initially */
.doctor-name {
  font-size: 26px;
  font-weight: bold;

  opacity: 0;
  transform: translateX(-200px);
}

/* IMAGE animation */
.img-animate {
  animation: imageIn 1s ease forwards;
}

/* TEXT animation */
.text-animate {
  animation: textIn 1s ease forwards;
}

/* Keyframes */
@keyframes imageIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
