.stats-section {
  background: #fde68a; /* yellow background */
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 80px 20px;
  text-align: center;
}

.stat-box h2 {
  font-size: 48px;
  font-weight: bold;
  color: #0f2a44;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 20px;
  color: #0f2a44;
}
